.navbar-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
  font-family: 'Roboto', sans-serif;
  padding-left: 16px;
  padding-right: 16px;
  height: 56px;
  position: fixed;
  z-index: 3;
  width: 98.1%;
  background-color: #ffffff;
}

.signin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgb(37, 108, 221);
  color: #065FD4;
  min-width: 81px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: .25px;
  line-height: 20px;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-right: 11px;
  height: 28px;
}

.menu{
  display: flex;
  flex-direction: column;
  outline: none;
  max-width: 300px;
  max-height: 500px;
  border: 1px solid 
    var(--yt-spec-10-percent-layer);
  border-top: none;
  background: 
    var(--yt-spec-brand-background-solid);

}

.logo-play-container{
  display: flex;
  cursor: pointer;
  font-weight: 500;
  align-items: center;
  margin-right: 20px;
  
}

.title-splash{
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 36px 0 24px 4px;
  padding-left: 4px;
  background-color: hsla(0, 0%, 92.3%, .1);
}

.search{
  position: static;
  width: 90%;
  min-height: 24px; 
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 300;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.search-container{
  display: flex;
  max-width: 640px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nav-logo {
  cursor: pointer;
  font-family: 'roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 10vw;
}

.index-container{
  justify-content: center;
  width: 100%;
  height: auto;
  min-width: 700px;
  background-color: hsla(0, 0%, 92.3%, .1);
}

.thumbnail-2{
  object-fit: fill;
}

.index-item{
  cursor: pointer;
  padding: 0 8px 40px 8px;
}

.dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  width: 250px;
  height: auto;
  border: 1px solid #dbdbdd;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color:
   rgba(255, 255, 255, 0.98);
  z-index: 1;
}

.signout:hover {
  background-color: #f0edeb;
  opacity: 0.8;
  cursor: pointer;
}

.signin-cont{
  position: relative;
  border: 1px solid #dbdbdd;
}

.leftside{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.vids{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.time{
  font-size: 16px;;
}

.vid {
  padding-right: 4px;
  width: 320px;
}

.row-wrapper{
  padding: 0 20px;
}

.drop-email{
  text-align: center;
  height: 16px;
  width: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
}

.drop-name {
  text-align: center;
  height: 16px;
  width: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 4px;
}
.drop-top{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dbdbdd;
}

.signout{
  display: flex;
  justify-content: space-around;
  width: 100% !important;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #222222;
}

.git, .linked {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #222222;
}

.upload-right{
  height: 14px;
  max-width: auto;
  padding-right: 30px;
  padding-left: 4px;
}

.hamburger{
  height: 12px;
  max-width: auto;
  cursor: pointer;
  
}

.play-button {
  height: 1.1rem;
  max-width: auto;
  padding-right: 3px;
}

.icon-button{
  padding: 8px;
  margin-right: 16px;
}

.viewtube-index{
  display: contents;
  text-decoration: none;
  color: black;
  
}

.nav-left{
  display: flex;
  align-items: center;
}

.nav-right{
  display: flex;
  align-items: center;
}

.outer-container{
  display: flex;
  background-color: hsla(0, 0%, 93.3%, .4);
  margin-top: 56px;
  
}

.inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 1000px;
}

.video-index-splash {
  display: flex;  
  flex-direction: column;
  width: 100%;
}

.fa-linkedin:before {
    content: "\f08c";
    color: steelblue;
}

.fa-github-square:before {
    content: "\f092";
    color: black;
    padding-right: 5px;
}

.fa-folder-open:before {
    content: "\f07c";
    color: burlywood;
    padding-right: 7px;
}

.strong{
  font-weight: 500 !important;
}
