.navbar-container{
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
   align-items: center;
    vertical-align: center;
   font-family: arial, sans-serif;
   color: #000000;
   padding: 0 16px;
   background: transparent;
   height: 56px;


}

.signin {
    display: flex;
    flex-direction: row-reverse;
    box-sizing: content-box;
    background-color: white;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(37, 108, 221);
    color: #065FD4;
    min-width: 81px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: .25px;
    line-height: 20px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11px;
    height: 28px;
}