.navbar-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    font-family: arial, sans-serif;
    color: #000000;
    padding: 0 16px;
    background: transparent;
    height: 56px;
}


.signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-radius: 3px;
    border: 1px solid rgb(37, 108, 221);
    color: #065FD4;
    min-width: 81px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: .25px;
    line-height: 20px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11px;
    height: 28px;
}

.menu{
    display: flex;
    flex-direction: column;
    outline: none;
    max-width: 300px;
    max-height: 500px;
    border: 1px solid var(--yt-spec-10-percent-layer);
    border-top: none;
    background: var(--yt-spec-brand-background-solid);

}

.logo-play-container{
  padding-left: 50px;
  font-family: roboto, arial, sans-serif;
}

.play { 
    background: red;
    border-radius: 50% / 10%;
    color: #FFFFFF;
    font-size: 0.75em; /* change this to change size */
    height: 1.5em;
    margin: 0px;
    padding-left: 0px;
    position: absolute;
    text-align: center;
    text-indent: 0.1em;
    transition: all 150ms ease-out;
    width: 2em;
    max-height: 24px;
    cursor: pointer;
    max-width: 30px;
}

.play::before { 
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    content: "";
    left: -5%;
    position: absolute;
    right: -5%;
    top: 9%;
 
}

.play::after {
    border-style: solid;
    border-width: 0.6em 0.4em .4em .8em;
    border-color: transparent transparent transparent #FFFFFF;
    content: ' ';
    font-size: 0.1em;
    height: 0;
    margin: -1em 0 0 -0.45em;
    top: 70%;
    position: absolute;

}

.trending{
    position: relative;
    font-family: roboto, arial, sans-serif;
    font-size: 16px;
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 700;
    min-height: 20px;
}

.search{
   position: relative;
   width: 40%;
   min-height: 26px; 
   padding-left: 8px;
   margin-right: 60px;
   font-weight: 300;
}

.logo-2 {
    color: #0d0d0d;
    padding-left: 26px;
    cursor: pointer;
    font-family: roboto, arial, sans-serif;
    align-items: baseline;
    font-weight: 700;
    max-width: 80px;
}

.index-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    background-color: hsla(0, 0%, 93.3%, .4);
    height: 500px;
}

.thumbnail-2{
    object-fit: fill;
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.index-item{
    display: inline-block;
    justify-content: end;
    align-items: center;
    position: relative;
    padding-bottom: 8px;
    width: 210px;
    cursor: pointer;
}

.dropdown{
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.signin-cont{
    position: relative;
    border: 1px solid #dbdbdd;
}

