.video-upload-main{
  display: flex;
  width: 100%;
  min-height: -webkit-fill-available;
  background: transparent;
  font-family: 'Roboto', arial, sans-serif;
  background-color: hsla(0, 0%, 93.3%, .4);
}

.other-div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.upload-form-details{
  width: 90%;
  height: 385px;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 14px;
  margin-top: 74px;;
  max-width: 743px;
  background-color: #ffffff;
  box-shadow: 2.5px 2.5px 3px #f2f2f2, -2.5px -2.5px 3px #f2f2f2;
}

.upload-form-field{
  width: 425px;
  max-width: 425px;
  min-width: 425px;
  max-height: 247px;
  line-height: 20px;
  color: #2E2E2E;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid #d3d3d3;
  padding: 5px 10px 6px 10px;
  margin-bottom: 15px;
  margin-top: 15px;;
}

.upload-errors {
  text-align: center;
  font-size: 18px;
  color: #D61619;
}

.post-file-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 400;
}

.upload-buttons{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.cancel{
  color: #414141;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border: 0;
  padding: 10px 16px;
  margin: 8px;
}

.upload-submit{
  margin: 8px;
  background-color: #1a73e8;
  border-radius: 5px;
  border: 1px solid rgb(37, 108, 221);
  color: white;
  height: 36px;
  min-width: 88px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: .25px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload{
  display: flex;
  justify-content: center;
  width: 88px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 16px;
  background-color: #1363D1 ;
  color: #ffffff;
}
