.show-form{
    display: flex;
    flex-direction: row;
    
}

.video-show{
    display: flex;
    flex-direction: column;
    width: 775px;
    margin-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    min-height: 1000px;
    
}

.rightsidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    padding-top: 24px;
    padding-right: 24px;
    min-width: 300px;

}

.rightsidebar-item{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 8px;
    min-width: 300px;

}

.title, .description {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    font-family: roboto, Arial, sans-serif
}

 .creator{
     font-size: 14px;
     color: #0d0d0d;

 }

 .thumbnail{
    align-items: right;
    position: relative;
    object-fit: fill;
 }

 .title{
     padding-top: 20px;

 }

 .creator{
    padding-top: 16px;

 }

 .video {
    width: 100%;
    object-fit: fill;
 }


 .nav{

 }