

.email-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 448px;
    border: 1px solid lightgray;
    padding-top: 48px;
    padding-bottom: 36px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: roboto ,'Noto Sans Myanmar UI', arial, sans-serif;
    max-height: auto;
    min-height: 500px;
    border-radius: 8px;
    box-sizing: border-box;
    line-height: 1.4286;
}

.email-form-container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    min-height: 250px;
    padding-top: 0;
 } 

.logo{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 75px;
    min-height: 24px;

}

 .logo-placeholder{
     box-sizing: border-box;
     display: block;
     font-size: 20px;
     text-align: center;
     line-height: 24px;
     /* background: url(festisite_google.png) no-repeat; */
     

 }

 .other-text-email{
    font-size: 1.5em;
    text-align: center;
    margin: 10px;
 }

 .other-text-email-cont {
    font-size: 1em;
    text-align: center;
    margin: 10px;
 }

 .email-label{

 }

 .input-field-email {
    align-items: center;
    padding: 5px;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;


 }

 .input-field-email:hover{
    border: 1px solid blue;
    border-radius: 5px;
 }

 .next{
    display: inline-block;
    background-color: rgb(33, 107, 226);
    border-radius: 5px;
	border: 1px solid rgb(37, 108, 221);
	color: white;
 }

 .create-link{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
 }