.email-form-container{
    margin: 0 auto;
    justify-content: 
    position: absolute;
    background: #ffffff;
    border-radius: 4px;
    padding: 32px;
    padding-bottom: 24px;
    height: 100%;
    width: 100%;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    box-sizing: border-box;
 }

 .logo-signin{

 }

 .other-text-email {

 }

 .email-label{

 }

 .input-field{

 }

 .next{

 }

 .create-link{

 }